<div id="<%= dom_id search %>">
  <h2>
    <%= search.address %>
  </h2>

  <% if search.error %>
    <p style="color: red"><%= search.error %></p>
  <% elsif search.data %>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th>High</th>
        <th>Low</th>
      </tr>
      <% search["postal_code"]["temperature"]["forecast"].each do |forecast| %>
      <tr>
        <td><%= forecast['date'] %></td>
        <td><%= image_tag forecast['icon'] %></td>
        <td><%= forecast['max_f'] %></td>
        <td><%= forecast['min_f'] %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

</div>
